*{
   margin: 0;
   padding: 0;
}

header{
   background-image: url(asset/image-hero.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size:cover;
   height: 90vh;
} 


nav{
   display: flex;
   justify-content: space-between;
   padding-inline: 2vw;
   padding-block: 2vh;
   height: 5vh;
   font-weight: 100;
}

ul{
   display: flex;
   list-style: none;
   gap: 13px;
   color: white;
   margin-right: 12vw;
}

#logo{
   width: 13vw;
   height: 4vh;
   margin-left: 20vh;
}

#ham{
   display: none;
}

h1{
   color: white;
   border: 1px solid white;
   width: 30vw;
   text-transform: uppercase;
   font-size: 3rem;
   line-height: 3.5rem;
   padding: 20px;
   margin: 30vh 0 0 12vw;
   font-family: sans-serif;
   font-weight: lighter;
}

section div:nth-child(1){
  background-image:url(asset/image-interactive.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 70vh;
  margin-top: 10vh;
  margin-right: 55vh; 
  padding-right: 13vh;
}

.mobileinteractive{
   display: none;
}


section div:nth-child(2){
   height: 30vh;
   width: 36vw;
   display: flex;
   flex-direction: column;
   background-color: white;
   position: relative;
   left: 45vw;
   right: 35vw;
   bottom: 34vh;
   padding-left: 5vw;
   padding-block: 6vh;
   text-transform: uppercase;
}


#float{
   margin: 2vh 2vh 0 0;
   height: 70vh;
   padding-left: 3vh;
}

.word{
   text-transform: lowercase;
   margin-right: 27px;
   margin-top:3vh;
   font-size:20px;
}

.text{
   font-size: 36px;
}

aside{
   display: flex;
   justify-content: space-between;
   position: relative;
   margin-block: 10vh;
   margin-inline: 12vw;
   padding-right: 1vh;
}

aside h3:nth-child(1){
   font-weight: bolder;
   font-size: 24px;
}

main{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 2rem;
   grid-row-gap: 2rem;
   margin-inline: 12vw;
   margin-block: 17vh;
}

h6{
   color: white;
   text-align: left;
   font-size: 1.5rem;
   position: relative;
   top: 50vh;
   padding: 10px;
}

main div:nth-child(1) {
   background-image: url(asset/image-deep-earth.jpg);
   background-position: cover;
   background-repeat: no-repeat;
   height: 60vh;
   
}

main div:nth-child(2){
   background-image: url(asset/image-night-arcade.jpg);
   background-position: cover;
   background-repeat: no-repeat;
   height: 60vh;
   z-index: -1;
}

main div:nth-child(3){
   background-image: url(asset/image-soccer-team.jpg);
   background-position: cover;
   background-repeat: no-repeat;
   height: 60vh;
   z-index: -1;
}

main div:nth-child(4){
   background-image: url(asset/image-grid.jpg);
   background-position: cover;
   background-repeat: no-repeat;
   height: 60vh;
   z-index: -1;
}

main div:nth-child(5){
   background-image: url(asset/image-from-above.jpg);
   background-position: cover;
   background-repeat: no-repeat;
   height: 60vh;
   z-index: -1;
}

main div:nth-child(6){
   background-image: url(asset/image-pocket-borealis.jpg);
   background-position: cover;
   background-repeat: no-repeat;
   height: 60vh;
   z-index: -1;   
}

main div:nth-child(7){
   background-image: url(asset/image-curiosity.jpg);
   background-position: cover;
   background-repeat: no-repeat;
   height: 60vh;
   z-index: -1;
}

main div:nth-child(8){
   background-image: url(asset/image-fisheye.jpg);
   background-position: cover;
   background-repeat: no-repeat;
   height: 60vh;
   z-index: -1;
}

footer{
   background-color: black;
   padding: 3rem 7rem 3rem 6rem;
}

.footer-logo-general-3{
   display:flex;
   justify-content: space-between;
   width: 13%;
   align-items: center;
   margin-inline: 4vw;
   margin-left: 90px;
}

.social-media-icons{
   display: flex;
   flex-direction: row;
   margin-left: 760px;
   padding-inline: 1px;
   gap: 2rem;
}

.general-4{
   display: flex;
   justify-content: space-between;
}

.info-2{
   width: 50%;
   display: flex;
   gap: 2rem;
   color: hsl(0, 0%, 55%);
   text-decoration: none;
   margin-block: 2vh;
   margin-left: 90px;
}

.copyright{
   color: hsl(0, 0%, 55%);
   margin-right: 59px;
   margin-top: 16px;
}


/* *Mobile Responsiveness* */

@media screen and (max-width:885px){
  body{
     overflow-x: hidden;
  }
   
  #logo {
        width: 30vw;
        height: 4vh;
        margin-left: 8px;
     }
  
     ul {
        display: none;
     }
  
     #ham {
        display: flex;
        margin-right: 8px;
     }
  
     h1 {
        width: 85%;
        margin-inline: 8px;
     }
  
     header {
        background-image: url(asset/Image-hero\(mobile\).jpg);
     }
  
     section div:nth-child(1) {
        background-image: url(asset/Image\ interactive\(mobile\).jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
  
     section div:nth-child(2) {
        height: 30vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: static;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
        padding-bottom: 1px;
        padding-top: 20px;
     }
  
     .word {
        text-transform: lowercase;
        margin-right: 27px;
        margin-top: 3vh;
        font-size: 16px;
     }
  
  
     #float {
        display: inline;
        width: 100%;
        align-items: center;
     }
  
     .text {
        font-size: 20px;
        margin-inline: 100px;
        align-items: center;
        margin-left: 50px;
     }
  
     .creations {
        display: flex;
        justify-content: space-between;
        position: static;
        margin-block: 60px;
        margin-inline: 4vw;
        padding-right: 1vh;
        margin-bottom: 2px;
     }
  
     aside h3:nth-child(1) {
        font-weight: bolder;
        font-size: 24px;
        margin-right: 20px;
     }

     
  
     main {
        display: grid;
        grid-template-columns: 430px;
        margin-left: 16px;
        margin-right: 16px;
        width: 80%;
     }
  
     h6 {
        color: white;
        text-align: left;
        font-size: 1.5rem;
        position: relative;
        top: 150px;
        text-transform: uppercase;
        padding: 10px;
     }
  
     main div:nth-child(1) {
        background-image: url(asset/Image\ deep\ heart\(mobile\).jpg);
        background-position: cover;
        background-repeat: no-repeat;
        height: 40vh;
        width: 88%;
        top: 20px;
  
     }
  
     main div:nth-child(2) {
        background-image: url(asset/Image\ night\ arcade\(mobile\).jpg);
        background-position: cover;
        background-repeat: no-repeat;
        height: 40vh;
        width: 88%;
     }
  
     main div:nth-child(3) {
        background-image: url(asset/Image\ soccer\ team\(mobile\).jpg);
        background-position: cover;
        background-repeat: no-repeat;
        height: 40vh;
        width: 88%;
     }
  
     main div:nth-child(4) {
        background-image: url(asset/Image\ grid\(mobile\).jpg);
        background-position: cover;
        background-repeat: no-repeat;
        height: 40vh;
        width: 88%;
     }
  
     main div:nth-child(5) {
        background-image: url(asset/Image\ from\ above\(mobile\).jpg);
        background-position: cover;
        background-repeat: no-repeat;
        height: 40vh;
        width: 88%;
     }
  
     main div:nth-child(6) {
        background-image: url(asset/Pocket\ borealis\(mobile\).jpg);
        background-position: cover;
        background-repeat: no-repeat;
        height: 40vh;
        width: 88%;
     }
  
     main div:nth-child(7) {
        background-image: url(asset/Image\ curiousity\(mobile\).jpg);
        background-position: cover;
        background-repeat: no-repeat;
        height: 40vh;
        width: 88%;
     }
  
     main div:nth-child(8) {
        background-image: url(asset/Image\ fisheye\(mobile\).jpg);
        background-position: cover;
        background-repeat: no-repeat;
        height: 40vh;
        width: 88%;
     }

     footer{
        background-color: black;
        padding: 6px 6px 6px 6px;
     }

     .footerlogo{
        display: flex;
        flex-direction: column;
        margin-left: 130px;
        margin-top: 20px;
        padding-left: 8vw;
     }

     .footer-logo-general-3{
        display:flex;
        flex-direction: column;
        margin-left: 100px;
        margin-right: 100px;  
     }
    
     .social-media-icons{
        display: flex;
        flex-direction: row;
        margin-inline: 20vw;
        padding-left: 40vw;
        gap: 2rem;
        margin-block: 3vh;
     }
    
     .general-4{
        display: flex;
        flex-direction: column;
        margin-inline: 5vw;
     }
    
     .info-2{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: hsl(0, 0%, 55%);
        text-decoration: none;
        
        margin-right: 20px;
      text-align: center;
        
     }
    
     .copyright{
        color: hsl(0, 0%, 55%);
        margin: 14px;
        padding-left: 30px;
        
     }
   
}

